body {
    background: radial-gradient( green, darkgreen, black);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

#introIndex {

    margin: 0 auto;
}

.round {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    width: 150px;
    background-color: #ff6da7;
    font-family: Georgia;
    float: none;
    margin-top: 4vh;
    font-weight: bold;
    color: rgb(1, 66, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bobslogo {
    width: 38%;
    margin-top: 16vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 33%;
    margin-right: 31%;
    margin-top: 10%; */
}

#burger-man {
    color: white;
    font-size: 20px;
    font-family: Georgia;
    margin-top: 4vh;
    display: block;
    /* margin-left: 44%;
    margin-right: 28%;
    margin-top: 15px;
    margin-bottom: 15px; */
}




    /* Next Page to Game */

#infoside {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gameside {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#game {
    margin-top: 16vh;
    font-family: Georgia;
    font-size: 20px;
    margin-bottom: 3%;
    margin-left: 20px;
}
#linda {
    margin-top: 16vh;
}
#bun {
    width: 200px;
    margin-top: 16vh;
    margin-left: 20%;
}
#buntom {
    width: 200px;
    margin-top: 16vh;
    margin-left: 20%;
}
#buntomlet{
    width: 200px;
    margin-top: 16vh;
    margin-left: 20%;
}
buntomletpat{
    width: 200px;
    margin-top: 16vh;
    margin-left: 20%;
}
#buntomletpat{
    width: 200px;
    margin-top: 16vh;
    margin-left: 20%;
}
#buntomletpatcon{
    width: 200px;
    margin-top: 16vh;
    margin-left: 20%;
}
#cheeseburger{
    width: 200px;
    margin-top: 16vh;
    margin-left: 20%;
}
#burger {
    width: 200px;
    margin-top: 25%;
    margin-left: 20%;
}
#letter-bank {
    border: 1px;
    border: solid;
    border-color: yellow;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    font-family: georgia;
    margin-left: 20px;

}
#currentscore {
    border: 1px;
    border: solid;
    border-color: yellow;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    font-family: georgia;
    margin-left: 20px;

}
#hint {
    border: 1px;
    border: solid;
    border-color: yellow;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    font-family: georgia;
    margin-left: 20px;

}
#correct {
    border: 1px;
    border: solid;
    border-color: yellow;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    font-family: georgia;
    margin-left: 20px;

}
#remaining {
    border: 1px;
    border: solid;
    border-color: yellow;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    font-family: georgia;
    margin-left: 20px;
}
#previousword {
    border: 1px;
    border: solid;
    border-color: yellow;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    font-family: georgia;
    margin-left: 20px;
}